{% extends 'index/layout.html' %}
{% load static %}
{% load get_tasks %}
{% block script %}
<script src="{% static 'index/index.js' %}"></script>
{% endblock %}
{% block body %}
<div class="container">
    <div class="form-group create-note-preview float-left">
        <div class="create-note-box">
            <input type="text" class="create-note-input" placeholder="Take a note...">
            <img src="{% static 'Icon/todo.png' %}" alt="New list icon" title="New list" id="new-list-btn">
        </div>
    </div>
    <div class="notes">
        {% if user.view == "grid" %}
            <div class="notes-grid">
                {% for i in notes %}
                <div class="note-box m-2" style="background-color: {{i.color}};" draggable="true"" id="note-{{i.pk}}" data-pk="{{i.pk}}">
                    <div class="box">
                        <h5 class="note-box-title">{{i.title}}</h5>
                        {% if i.note %}
                        <p class="note-box-text">{{i.note|linebreaksbr|urlize}}</p>
                        {% else %}
                            {% for task in i|get_tasks %}
                            <div>
                                <input type="checkbox" name="{{task.id}}" id="task-{{task.pk}}" class="task" data-pk = "{{task.pk}}" {% if task.done %}checked{% endif %}>
                                <label for="task-{{task.pk}}">{{task.todo}}</label>
                            </div>
                            {% endfor %}
                        {% endif %}
                        <div class="note-option">
                            <img src="{% static 'Icon/trash.png' %}" alt="Delete note" id="delete-note-btn" data-pk="{{i.pk}}" title="Delete">
                            {% if i.note %}
                            <img src="{% static 'Icon/todo.png' %}" alt = "Show checkbox" id="show-checkbox-note-btn" data-pk="{{i.pk}}" title="Show Checkbox">
                            {% else %}
                            <img src="{% static 'Icon/todo.png' %}" alt = "Hide checkbox" id="hide-checkbox-note-btn" data-pk="{{i.pk}}" title="Hide Checkbox">
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% elif user.view == "list" %}
            {% for i in notes %}
            <div class="list-note-box" style="background-color: {{i.color}};" draggable="true" id="note-{{i.pk}}" data-pk="{{i.pk}}">
                <div class="box">
                    <h5 class="note-box-title">{{i.title}}</h5>
                    {% if i.note %}
                    <p class="note-box-text">{{i.note}}</p>
                    {% else %}
                        {% for task in i|get_tasks %}
                        <div>
                            <input type="checkbox" name="{{task.id}}" id="task-{{task.pk}}" class="task" data-pk = "{{task.pk}}" {% if task.done %}checked{% endif %}>
                            <label for="task-{{task.pk}}">{{task.todo}}</label>
                        </div>
                        {% endfor %}
                    {% endif %}
                    <div class="note-option">
                        <img src="{% static 'Icon/trash.png' %}" alt="Delete note" id="delete-note-btn" data-pk="{{i.pk}}" title="Delete">
                        {% if i.note %}
                        <img src="{% static 'Icon/todo.png' %}" alt = "Show checkbox" id="show-checkbox-note-btn" data-pk="{{i.pk}}" title="Show Checkbox">
                        {% else %}
                        <img src="{% static 'Icon/todo.png' %}" alt = "Hide checkbox" id="hide-checkbox-note-btn" data-pk="{{i.pk}}" title="Hide Checkbox">
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="modal" id="edit-note">
    <div class="modal-content theme-adjust">
        <span class="modal-close-btn" data-modal="edit-note">&times;</span>
        <div class="form-group form-animate">
            <input type="text" id="edit-note-title" class="input-animate" placeholder="Title">
            <span class="input-onFocus"></span>
        </div>
        <div class="form-group" id="edit-note-form">

        </div>
    </div>
</div>
{% endblock %}