{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Google Keep Clone{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'index/FireUI.min.css' %}">
    <script src="{% static 'index/FireUI.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'index/style.css' %}">
    <script src="{% static 'index/index.js' %}"></script>
    <script src="{% static 'Lib/cookie.min.js' %}"></script>
    {% block script %}
    {% endblock %}
</head>
<body data-theme="{{user.UItheme}}">
    <div class="top-nav nav-effect">
        <div class="nav-padding">
            <span class="nav-ham sidenav-menu-btn" id="nav-ham" data-target="options">&#9776;</span>
            <img src = "{% static 'Icon/logo.png' %}" alt = "Google Forms Icon(CLONE)" class="keep-icon" title = "Keep">
            <span class="nav-text" title = "Forms"><a href = "{% url 'index' %}" class="link keep-link">Keep CLONE</a></span>
            <a href="{% url 'logout' %}">
                <img src = "{% static 'Icon/Logout.png' %}" alt = "Logout Icon" class="navbar-icon float-right" title = "Logout">
            </a>
            <img src = "{% static 'Icon/setting.png' %}" alt = "Settings Icon" class="navbar-icon float-right" title = "Settings" open-modal data-modal="settings">
        </div>
    </div>
    <div class="modal" id="settings">
        <div class="modal-content theme-adjust">
            <span class="modal-close-btn" data-modal="settings">&times;</span>
            <h1 class="modal-content-title">Settings</h1>
            <div class="form-group">
                <div class="toggle-switch">
                    <input type="checkbox" id="darkTheme"{% if user.UItheme == "dark" %} checked {% endif %}>
                </div>
                <label class="setting-label">Dark theme</label>
            </div>
            <div class="form-group">
                <div class="toggle-switch">
                    <input type="checkbox" id="view"{% if user.view == "list" %} checked {% endif %}>
                </div>
                <label class="setting-label">List view</label>
            </div>
        </div>
    </div>
    <div class="sidenav theme-adjust" id="options">
        <div class="sidenav-content">
            <span class="sidenav-close-btn" data-target="options">&times;</span>
            <h1 class="sidenav-title">Google Keep Clone</h1>
            <div class="sidenav-link-btn">
                <img src="{% static 'Icon/idea.png' %}" alt="Notes icon">
                <span>Notes</span>
            </div>
            <div class="sidenav-link-btn">
                <img src="{% static 'Icon/edit_label.png' %}" alt="Notes icon">
                <span>Edit labels</span>
            </div>
            <div class="sidenav-link-btn">
                <img src="{% static 'Icon/archive.png' %}" alt="Archive icon">
                <span>Archive</span>
            </div>
            <div class="sidenav-link-btn">
                <img src="{% static 'Icon/trash.png' %}" alt="Trash icon">
                <span>Trash</span>
            </div>
        </div>
        <div class="about-site">
            <p>Google Keep Clone is MIT Licensed. Supports Google Keep Clone by giving a star on <a href="https://github.com/kimlimjustin/google-keep-clone" class="link">GitHub</a></p>
        </div>
    </div>
    {% block body %}
    {% endblock %}
</body>
</html>