{% extends 'index/layout.html' %}
{% load static %}
{% block script %}
<script src="{% static 'index/trash.js' %}"></script>
{% endblock %}
{% load get_tasks %}
{% block body %}
<div class="container">
    <div class="notes">
        {% if user.view == "grid" %}
            <div class="notes-grid">
                {% for i in notes %}
                <div class="note-box m-2" style="background-color: {{i.color}};" draggable="true"" id="note-{{i.pk}}">
                    <div class="box">
                        <h5 class="note-box-title">{{i.title}}</h5>
                        {% if i.note %}
                        <p class="note-box-text">{{i.note}}</p>
                        {% else %}
                            {% for task in i|get_tasks %}
                            <div>
                                <input type="checkbox" name="{{task.id}}" id="{{task.pk}}" onclick="return false;">
                                <label for="{{task.pk}}">{{task.todo}}</label>
                            </div>
                            {% endfor %}
                        {% endif %}
                        <div class="note-option">
                            <img src="{% static 'Icon/trash.png' %}" alt="Delete note" id="permanent-delete-note-btn" data-pk="{{i.pk}}" title="Delete">
                            <img src="{% static 'Icon/restore.png' %}" alt="Restore note" id="restore-note-btn" data-pk="{{i.pk}}" title="Restore">
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% elif user.view == "list" %}
            {% for i in notes %}
            <div class="list-note-box" style="background-color: {{i.color}};" draggable="true" id="note-{{i.pk}}">
                <div class="box">
                    <h5 class="note-box-title">{{i.title}}</h5>
                    {% if i.note %}
                    <p class="note-box-text">{{i.note}}</p>
                    {% else %}
                        {% for task in i|get_tasks %}
                        <div>
                            <input type="checkbox" name="{{task.id}}" id="{{task.pk}}" onclick="return false;">
                            <label for="{{task.pk}}">{{task.todo}}</label>
                        </div>
                        {% endfor %}
                    {% endif %}
                    <div class="note-option">
                        <img src="{% static 'Icon/trash.png' %}" alt="Delete note" id="permanent-delete-note-btn" data-pk="{{i.pk}}" title="Delete">
                        <img src="{% static 'Icon/restore.png' %}" alt="Restore note" id="restore-note-btn" data-pk="{{i.pk}}" title="Restore">
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}