@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Product+Sans");
@import url("https://fonts.googleapis.com/css?family=Google+Sans");
[data-theme="dark"], [data-theme="dark"] .theme-adjust{
    background-color: #202124 !important;
}

.form-error{
    font-family: "Permanent Marker";
    color: red;
}

.link{
    color: inherit;
    opacity: .8;
    transition: .5s;
}

.link:hover{
    opacity: .5;
}

.top-nav{
    float: left;
    width: 100vw;
}

.keep-icon{
    float: left;
    width: 3rem;
    margin-bottom: 0.4rem;
}
.nav-text{
    float: left;
    position: relative;
    vertical-align: middle;
    margin-top: 0.75rem;
    font-family: "Product Sans";
    color: #5f6368;
    padding-left: 1rem;
}

.keep-link{
    text-decoration: none;
    font-family: "Google Sans";
    font-weight: 400;
}

.nav-effect{box-shadow: 0 2px 30px -2px rgba(0,0,0,.2);}

.float-right{
    float: right;
}

.navbar-icon{
    width: 2.5rem;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.nav-padding{
    padding: 10px 20px 10px;
}

.nav-ham{
    float: left;
    font-size: 1.8rem;
    position: relative;
    vertical-align: middle;
    margin-right: 1rem;
    cursor: pointer;
}

[data-theme="dark"] .keep-link{
    color: #fff;
}
[data-theme="light"] .keep-link{
    color: #000;
}

.modal-content-title{
    font-family: "Google Sans";
    text-align: center;
}

.toggle-switch{
    display: inline-block;
    vertical-align: middle
}

.toggle-switch input[type = checkbox]{
    display: none;
}

.setting-label{
    margin-left: 0.3rem;
}
.input-animate, .form-animate{
    color: inherit;
}
.sidenav-title{
    text-align: center;
    border-bottom: 1px solid;
}
.sidenav-link-btn{
    background-color: Transparent;
    background-repeat:no-repeat;
    width: -webkit-fill-available;
    cursor: pointer;
    padding: 5px;
}
.sidenav-link-btn:nth-child(odd){
    border-radius: 15px 5px;
}
.sidenav-link-btn:nth-child(even){
    border-radius: 5px 15px;
}
.sidenav-link-btn img{
    width: 3rem;
    vertical-align: middle;
    padding-right: 0.5rem;
}
.sidenav-link-btn span{
    vertical-align: middle;
}
[data-theme="dark"] .sidenav-link-btn:hover{
    background-color: #888a8b;
}
[data-theme="light"] .sidenav-link-btn:hover{
    background-color: #d3d3d3;
}
.sidenav-content{
    height: 80%;
    overflow: auto;
    margin: 0;
    padding: 0 10px;
    font-family: "Google Sans";
}

.about-site{
    padding: 10px;
    border-top: 1px solid;
    font-family: "Product Sans";
}

.sidenav-title{
    cursor: auto;
}

.float-left{
    float: left;
}

.create-note-input{
    height: 2rem;
    border: none;
    padding: 1rem;
    color: inherit;
    font-family: "Google Sans";
    font-size: 1.2rem;
    padding: 1.3rem;
    width: -webkit-fill-available;
    background-color: inherit;
}

.create-note-box{
    background-color: inherit;
    margin: 1rem 10%;
    box-shadow: 1px 3px 8px 0;
    padding: 10px;
}

[data-theme="dark"] .create-note-box{
    box-shadow: 1px 3px 8px 0 #808080;
}
.form-group{
    width: -webkit-fill-available;
}
.create-note-preview{
    position: relative;
}
.create-note-preview img{
    position: absolute;
    right: 12%;
    width: 2rem;
    top: 2rem;
    cursor: pointer;
}
.input-note-title, .input-note-text{
    width: -webkit-fill-available;
    border: none;
    outline: 0;
    padding: 10px;
    background-color: transparent;
    color: inherit;
}
.input-note-title{
    font-size: 1.2rem;
}
.input-note-text{
    font-size: 1rem;
}

.create-note-option{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    margin: 10px;
}

.input-color-option{
    position:relative;
    display: inline-block;
}

.select-color{
    position: absolute;
    padding: 10px;
    display: none;
    box-shadow: 1px 1px 6px;
}
.select-color-text{
    color: inherit;
    margin: 2px;
    border-bottom: 1px solid;
}
.input-color-option:hover .select-color{
    display: block;
}

.checkbox-item{
    border: 1px solid;
    color: inherit;
}

.checkbox-item input[type="text"]{
    padding: 5px !important;
    font-size: 1rem;
    width: 85%;
    border-bottom: none !important;
}

@media only screen and (max-width: 600px){
    :root{
        font-size: 12px;
    }
    .sidenav-title{
        font-size: 25px;
    }
    .sidenav-link-btn img{
        width: 40px;
    }
    .sidenav-link-btn span{
        font-size: 16px;
    }
}